:root{ /*cria variáveis de cor*/
    --cor-fundo: #3ccce6a9;
    --cor-principal: #6e1111;
    --cor-secundaria: #3e8f76;
    --cor-destaque: #a32c1d;
    --cor-texto: #da1111;
}

body{ /*estilização no corpo da página*/
    background-color: var(--cor-fundo); /*cor de fundo*/
    color: var(--cor-texto); /*cor do texto*/
    display: flex; /**/
    justify-content: center; /*ajusta os elementos no centro*/
    align-items: center; /*alinha os elementos dentro de um display no cenrto*/
    min-height: 100vh; /*define o tamanho minimo dos elementos: 100 vw = tamanho da janela de visualização*/
background-image: linear-gradient(black, white);
background-image:url("TVD.webp");

}
.caixa-principal{ /*estilização da classe caixa-principal*/
    background-color: var(--cor-principal);
    width: 90%; /*largura dos elementos*/
    text-align: center; /*alinha o texto no centro*/
    padding: 20px; /*espaçamento interno de 20 pixels*/
}
h1{
    color: var(--cor-destaque);
}
